@inherits CmsPageBase

@page "/search"

<PageTitle>@Translations!["Search"] - @Cms.System?.SystemName</PageTitle>

<SearchBar Parent="@this" @ref="@SearchBar" />

@if (SearchBar != null)
{
    @if (SearchBar.CurrentType == SearchType.User)
    {
        foreach (var user in SearchBar.SearchedUsers)
        {
            <span class="user-list-item">
                <UserPlate Username="@user.Username"
                           Avatar="@user.Avatar" />
            </span>
        }

        @if (SearchBar.SearchedUsers.Count == 0)
        {
            <p>@Translations!["No users found."]</p>
        }
    }

    @if (SearchBar.CurrentType == SearchType.Tag)
    {
        foreach (var tag in SearchBar.SearchedTags)
        {
            <a href="@($"tag/{tag}")" class="no-decoration">
                <div class="tag tag-search">#@(tag)</div>
            </a>

        }

        @if (SearchBar.SearchedTags.Count == 0)
        {
            <p>@Translations!["No tags found."]</p>
        }
    }

    @if (SearchBar.CurrentType == SearchType.Post)
    {
        foreach (var post in SearchBar.SearchedPosts)
        {
            <Post PostId="@((ulong)post.PostId)"
                  Type="PostType.Mini"
                  Author="@post.Author"
                  AuthorId="@((ulong)post.AuthorId)"
                  Date="@post.Date"
                  Title="@post.Title"
                  Content="@post.Content"
                  Img="@post.Img"
                  Counter="@post.Counter"
                  Fact="@post.Fact"
                  SelectedUp="@post.SelectedUp"
                  SelectedDown="@post.SelectedDown"
                  BlockSearchEngines="@post.BlockSearchEngines" />
        }

        @if (SearchBar.SearchedPosts.Count == 0)
        {
                        <p>@Translations!["No posts found."]</p>
        }
    }
}

@code
{
    public SearchBar? SearchBar { get; set; }
}
