@inherits CmsPageBase

@page "/admin/send-email"

<PageTitle>@Translations!["Send email"] - @Cms.System?.SystemName</PageTitle>

@if (IsNotLoggedIn())
{
    <IndexPageRedirect />
}

@if (IsLoggedIn(Role.Admin))
{
    <div class="content-item width75 triple-padding column">

        <label>
            @Translations!["Receiver:"]
            <input type="text" @bind="@_customEmail.Recipient">
        </label>
        
        <label>
            @Translations!["Subject:"]
            <input type="text" @bind="@_customEmail.CustomSubject">
        </label>

        <label>
            @Translations!["Message:"]
            <textarea rows=4 @bind="@_customEmail.CustomBody"></textarea>
        </label>
        
        <button class="normal-button triple-padding" @onclick="@Send">
            @Translations!["Send"]
        </button>
    </div>
}

@code {

    private CustomEmail _customEmail = new CustomEmail();

    private async Task Send()
    {
        if (await UserModel.IsActive(CurrentPage?.LoginInfo.AccessToken, Role.Admin))
        {
            var sendEmail = _customEmail.Send();

            if (sendEmail)
            {
                if (Modal != null)
                {
                    var parameters = new ModalParameters()
                        .Add("Message", Translations!["Email sent."].ToString());
                    var modal = Modal.Show<InfoModal>("", parameters);
                    _customEmail.Recipient = "";
                    _customEmail.CustomSubject = "";
                    _customEmail.CustomBody = "";
                }
            }
            else
            {
                if (Modal != null)
                {
                    var parameters = new ModalParameters()
                        .Add("Message", Translations!["Error occurred. Email not sent."].ToString());
                    var modal = Modal.Show<ErrorModal>("", parameters);
                }
            }
        }
    }
}