@inherits CmsComponentBase

<div id="page-left" class="mobile-menu-closed">
    <nav id="navigation">

        <NavigationItem Text="@($" {Translations!["Main page"]}")"
                        IconName="home"
                        UriPath="/" />

        @if (IsLoggedIn())
        {
            <NavigationItem Text="@($" {Translations!["Messages"]}")"
                        IconName="chat"
                        UriPath="/messages" />
        }

        <NavigationItem Text="@($" {Translations!["Tags"]}")"
                        IconName="tag"
                        UriPath="/tags" />

        @if (IsLoggedIn())
        {

            <NavigationItem Text="@($" {Translations!["New post"]}")"
                        IconName="post_add"
                        UriPath="/new-post" />

            <NavigationItem Text="@($" {Translations!["Settings"]}")"
                        IconName="settings"
                        UriPath="/settings" />

        }

        <NavigationItem Text="@($" {Translations!["Language"]}")"
                        IconName="language"
                        UriPath="/language" />

        <NavigationItem Text="@($" {Translations!["Contact"]}")"
                        IconName="contact_support"
                        UriPath="/contact" />

    </nav>
</div>