@inherits CmsComponentBase

@if (CurrentPage?.LoginInfo.IsLogged.Equals(false) ?? true)
{
    <div id="header-user-panel">
        <button @onclick="@Search">
            <Icon Name="search" Class="icon-font-header" />
            <span class="mobile-hidden">@Translations!["Search"]</span>
        </button>

        <button @onclick="@Login">
            <Icon Name="person" Class="icon-font-header" />
            <span class="mobile-hidden">@Translations!["Log in"]</span>
        </button>

        <button @onclick="@Register">
            <Icon Name="person_add" Class="icon-font-header" />
            <span class="mobile-hidden">@Translations!["Register"]</span>
        </button>
    </div>
}
else
{
    <button @onclick="@Search">
        <Icon Name="search" Class="icon-font-header" />
        <span class="mobile-hidden">@Translations!["Search"]</span>
    </button>

    <UserPlate Username="@CurrentPage.LoginInfo.Username"
           Avatar="@CurrentPage.LoginInfo.Avatar"
           HideUsernameMobile="true" />
    
    <button @onclick="@Logout">
        <Icon Name="logout" Class="icon-font-header" />
        <span class="mobile-hidden">@Translations!["Log out"]</span>
    </button>
}

@code {
    public void Register() => Navigation?.NavigateTo("/register", true);
    public void Login() => Navigation?.NavigateTo("/login", true);
    public void Search() => Navigation?.NavigateTo("/search", true);
}
